<connectionStrings>
  <!--<add name="IdentityConnection" connectionString="Server=.;Database=IdentityDb;User Id=sa;Password=Abcd@1234" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=\sqlexpress;Initial Catalog=SAT;Integrated Security=true" providerName="System.Data.SqlClient" />
</connectionStrings>
